.custom-button {
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    width: 3rem;
    height: 3rem;
    top: 50%;
    cursor: pointer;

    &:hover {
        background-color: lightgrey;
    }
}

.right {
    right: 1rem;
}

.left {
    left: 1rem;
}